@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #543fe7;
  --variant: #a59af2;
  --mute: #b0b5be;
  --shade: #656c7b;
  --secondary: #7ddfc3;
}

@layer utilities {
  .transparent-white {
    background-color: hsla(0, 0%, 100%, 0.8);
  }
}
